# Goood First Issues:palm_tree:

This page contains open issues tagged with the label *good first issue*. It gathers issues from some famous python libraries. I'll be adding new ones, please let me know if I am missing some important ones.

If you are just starting your journey in contributing to open-source projects, these are good articles to get you started!:sailboat:

* [First Contributions Repository](https://github.com/firstcontributions/first-contributions)
* [A Beginner's Guide to Contributing to Open Source Projects](https://blog.ossph.org/a-beginners-guide-to-contributing-to-open-source-projects/)

## List of Good First Issues to start Collaborating!:surfer:

| Repo | Language | Title | Comments |
| --- | --- | --- | --- |
{% for result in results -%}
| {{result.repo}} | {{result.language}} | [{{result.title}}]({{result.url}}) | {{result.comments}} |
{% endfor %}