# Goood First Issues

This page contains open issues tagged with the label *good first issue*. It gathers issues for some famous python libraries.

## List of Good First Issues to start Collaborating!

| Repo | Language | Title | Comments |
| --- | --- | --- | --- |
{% for result in results %}
| {{result.repo}} | {{result.Language}} | [{{result.title}}]({{result.url}}) | {{result.comments}} |
{% endfor %}