# Good First Issues :palm_tree:

This page contains open issues tagged with the label *good first issue*. It gathers issues from some famous libraries(at least for me).
Let me know if there are others you would like to see here :pizza:

## How it Works

This project automates the discovery of good first-issues using GitHub API:

* **Smart Discovery**: `RepoManager` identifies all public repositories from the usernames defined in your `.env` file.
* **Issue Filtering**: `IssueManager` searches those repositories for issues labeled with `good first issue`.
* **Language Matchmaking**: It identifies the primary language of each repository to help you find tasks in your area of expertise.
* **Automated Rendering**: Uses **Jinja2** templates and the `TemplateManager` to render the gathered data into this README file.
* **Daily Updates**: A GitHub Action runs the `update_issues.py` script daily to ensure the list is always updated.

## Local Setup

`update_issues.py` can  be modified to  return the data in json or to csv. 
To run the script locally:
* create an `.env` file in the root directory, and add:

```
ACCESS_TOKEN=<YOUR_ACCESS_TOKEN>
USERNAMES=<REPO_OWNER1>,<REPO_OWNER2>,<REPO_OWNER3>,...
```

* How to create and  manage GitHub API access tokens in [this article](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens).

## Useful Resources for Open Source
If you are wondering where to begin in the  journey contributing to open-source projects, these are good articles to get you started! :sailboat:

* [First Contributions Repository](https://github.com/firstcontributions/first-contributions) - Practice the Fork-Pull Request workflow
* [A Beginner's Guide to Contributing to Open Source Projects](https://blog.ossph.org/a-beginners-guide-to-contributing-to-open-source-projects/)
* [Open Source Guide](https://opensource.guide/) - Comprehensive community guide.
* [Writing Better Commits](https://cbea.ms/git-commit/) - Learn the art of commit messages.
* [Markdown Syntax](https://www.markdownguide.org/basic-syntax/) - Master documentation formatting.



## List of Good First Issues to start Collaborating! :surfer: <sub><sub>Last run: {{today}}</sub></sub>

| Repo | Language | Title | Comments |
| --- | --- | --- | --- |
{% for result in results -%}
| {{result.repo}} | {{result.language}} | [{{result.title}}]({{result.url}}) | {{result.comments}} |
{% endfor %}
